---
layout: base
tags: home
seo:
  title: Fern
  description: Fernando Mouco is an engineer, content creator, and passionate about elevating the human expereince.
---

<div class="site-intro">
    Fernando Mouco is an engineer, content creator, and passionate about elevating the human expereince.
</div>